.footer{
    color: #75c74e;
    text-align: center;
    height:fit-content;
    background: #000;
    padding: 40px 0;

    .red-title{
        color: black;
      }
  }

  .cursor-pointer {
    cursor: pointer;
  }